body {
	background: linear-gradient(#03488d,  #5c8815);
}
.home .glyphicon {
	padding-right: 3px;

}
.home .glyphicon-map-marker {
	margin-left: -1px;
}
.primary-title strong {
	text-transform: uppercase;
	
}
.primary-title{
	padding-top: 10px;
	color:#015eac;
}
hr {
	margin: 0;
}
.hr,.event {
	padding: 0;
}
.see-more {
	text-align: center;
	padding: 5px 0px;
}
.container {
	margin-bottom: 30px;
}
.events-block.blog {
	padding: 0px 0px;
}
.pdLeft {
	padding-left: 0;
}

.pdRight {
	padding-right: 0;
}
.bottom {
	margin-top: 20px;
}
.padding {
	padding: 0;
}
.question {
	text-align: center;
	background: #2b5e01;
}
.question p {
	color: #fff;
	padding: 5px 200px;
}
.question h4 {
	color:#aba047;
}
.question img {
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 5px;
}
.partners {
	text-align: center;
	background: #fff;
}
.partners h4 {
	color:#015eac;
	padding-top: 10px;
	margin-bottom: 0;
}
.partners img {
	padding: 25px 40px;
}
.events-block {
	margin-bottom: 0px !important;
}
footer {
	margin-top: 50px !important;
}
footer, .footer-contents a,footer .text-heading {
	color: #fff !important;
}
footer .text-heading, .partners h4 {
	text-transform: uppercase;
}
.footer-contents ul li {
	padding-bottom: 5px ;
}
.hn,.mail {
	margin-top:20px;
} 

.glyphicon {
	vertical-align: middle;
}
.social img {
	margin-top: 20px;
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-right: 10px;
	
}
.app-mobile {
	margin-top: 15px;
}
.app-mobile > img {
	width: 60px;
	height: auto;
	display: inline-block;
	float: left;
}

.ch-play {
	margin-top: 15px;
}
.app-mobile > span > img {
	width: 90px;
	margin-left: 10px;
}

.app-mobile span {
	display: inline-block;
	vertical-align: middle;
	float: left;
}
.sk1,.sk2,.sk3{
	text-align: center;
	text-transform: uppercase;
	color: #fff;

}
.sk1 p,.sk2 p,.sk3 p {
	margin-top: 10px;
}
.sk1 {
	background: #045898;
}
.sk2 {
	background: #629a01;
}

.sk3 {
	background: #d88004;
}
.carousel  {
	padding: 15px;
	background-image: linear-gradient(to right,#03488d,  #5c8815);
}
#main-nav, #main-nav input , #main-nav button {
	background: transparent;
}

.navbar  {
	border:0px;
}
.fa-search {
	color:#fff;
}
.navbar-brand {
	padding: 0px;
}

.navbar .navbar-brand img {
	width: 185px !important;
    height: auto;
}

.locales img {
	width: 25px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    margin-left: 0px;
    padding-left: 5px;
}
.user {
	width: 28px;
}
.navbar .navbar-nav>li>a:not(.btn).dropdown-toggle {
    margin-left: 10px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: white;
    background-color: #015eac;
}